:root {
  --background-dark: #121212; /* Dark background color */
  --background-light: #1f1f1f; /* Slightly lighter background color */
  --text-color: #ffffff; /* Text color for light text on dark background */
  --accent-color: #3498db; /* Accent color */
  --link-color: #2980b9; /* Link color */

  /* Additional shades for variation */
  --primary-dark: #1a1a1a;
  --secondary-dark: #272727;
  --accent-dark: #1abc9c;
  --link-dark: #16a085;
}

body {
  background-color: var(--background-dark);
  height: 500vh;
  font-family: "Roboto", sans-serif;
}

.nav {
  background-color: var(--background-light);
  color: var(--text-color);
  height: 70px;
  text-align: center;
}

.logo {
  padding: 5px;
  text-align: center;
}

.logo img {
  padding: 5px;
  text-align: center;
  align-items: center;
  width: 30px;
}

/*DROP DOWN*/

.sticky {
  position: sticky;
  height: 50px;
  top: 0px;
}

.dropdown {
  margin: auto;
  width: 150px;
}

.dropbtn {
  display: block;
  margin: auto;
  padding: 0;
  width: 150px;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--background-light);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: var(--primary-dark);
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*OCNTAINER*/

.container {
  background-color: var(--background-light);
  margin: auto;
  width: 80%;
  height: 100%;
  color: var(--text-color);
}

.box {
  width: 150px;
  height: 150px;
  color: var(--text-color);
  text-align: center;
}

.about,
.projects,
.contact {
  padding: 20px;
  margin: 20px 0;
}

.projects,
.contact {
  background-color: var(--secondary-dark);
  cursor: pointer;
}

footer {
  background-color: #2c3e50;
  color: var(--text-color);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
